h4 {
    text-align: center;
}

.top-bar {

    background-color: brown;
    color: brown;
}

.media-object-section {

    text-align: center;
}

.quizzP {

    color: brown;
    text-align: center;
}