h4 {
    text-align: center;
}

.top-bar {

    background-color: brown;
    color: brown;
}

.media-object-section {

    text-align: center;
}

.quizzP {

    color: brown;
    text-align: center;

}
#tandc {
    margin: 0.125rem 0;
    padding: 0.25rem;
    border: 1px solid #cacaca;
}

#createUser {

    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  

   

}